<nav>
  <a class="brand" href="/catalog">Brand Logo</a>
  <ul>
    <li>
      <a href="/catalog">Home</a>
    </li>
    <li>
      <a href="/catalog/authors">All Authors</a>
    </li>
    <li>
      <a href="/catalog/books">All Books</a>
    </li>
    <li>
      <a href="/catalog/genres">All Genres</a>
    </li>
    <li>
      <a href="/catalog/bookinstances">ALl book instances</a>
    </li>
    <li>
      <a href="/catalog/author/create">Create new Author</a>
    </li>
    <li>
      <a href="/catalog/book/create">Create new Book</a>
    </li>
    <li>
      <a href="/catalog/genre/create">Create new Genre</a>
    </li>
    <li>
      <a href="/catalog/bookinstance/create">Create new book instance</a>
    </li>
  </ul>
</nav>
